body {
  min-height: 100vh;
  @media (min-width: 1024px) {
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
}
* {
  box-sizing: inherit;
}
button {
  font-weight: 400;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
